*{
  box-sizing:border-box;
}
html{
  background-color: #ddd;
}
body{
  margin: 0;
}
main{
  background-color: #000;
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: max-content;
}
main div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  min-height: 50px;
}
main div:nth-of-type(4n),main div:nth-of-type(4n-3){
  background-color: #111;
}

span{
  filter: opacity(.3);
  transition: filter .3s;
}

span:hover{
  cursor: pointer;
}
.selected{
  filter: none;
  transition: none;
}

h2{
  color:#fff;
}

.skeleton-demon-knight{
  filter:drop-shadow(0 0 .5px #fff);
}
.skeleton-demon-knight.selected{
  filter: invert(.8); 
  transition: none;
}

/* sprites */

span {
  background-image: url('spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}

.scaled{
  transform: scale(2);
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.dragon-blue {
  width: 62px;
  height: 43px;
  background-position: 0 0;
}

.dragon-green {
  width: 58px;
  height: 43px;
  background-position: -62px 0;
}

.dragon-red {
  width: 63px;
  height: 43px;
  background-position: -120px 0;
}

.dragonlord-human {
  width: 26px;
  height: 40px;
  background-position: -182px 0;
}

.dragonlord-true {
  width: 76px;
  height: 94px;
  background-position: 0 -43px;
}

.drakee {
  width: 26px;
  height: 20px;
  background-position: -211px 0;
}

.drakee-magic {
  width: 26px;
  height: 20px;
  background-position: -211px -20px;
}

.drakeema {
  width: 26px;
  height: 20px;
  background-position: -182px -40px;
}

.droll {
  width: 34px;
  height: 38px;
  background-position: -208px -40px;
}

.drollmagi {
  width: 34px;
  height: 38px;
  background-position: -76px -78px;
}

.druin {
  width: 38px;
  height: 31px;
  background-position: -110px -78px;
}

.druinlord {
  width: 38px;
  height: 31px;
  background-position: -148px -78px;
}

.ghost {
  width: 26px;
  height: 32px;
  background-position: -186px -78px;
}

.ghost-poltergeist {
  width: 26px;
  height: 32px;
  background-position: -212px -78px;
}

.ghost-specter {
  width: 26px;
  height: 32px;
  background-position: -110px -110px;
}

.knight {
  width: 47px;
  height: 46px;
  background-position: -136px -110px;
}

.knight-armored {
  width: 51px;
  height: 52px;
  background-position: -183px -110px;
}

.knight-axe {
  width: 49px;
  height: 52px;
  background-position: 0 -162px;
}

.magician {
  width: 33px;
  height: 33px;
  background-position: -49px -162px;
}

.magician-warlock {
  width: 34px;
  height: 37px;
  background-position: -82px -162px;
}

.magician-wizard {
  width: 34px;
  height: 37px;
  background-position: -116px -162px;
}

.man-gold {
  width: 50px;
  height: 49px;
  background-position: -150px -162px;
}

.man-golem {
  width: 49px;
  height: 49px;
  background-position: -200px -162px;
}

.man-stone {
  width: 49px;
  height: 49px;
  background-position: -242px 0;
}

.scorpion {
  width: 40px;
  height: 33px;
  background-position: -242px -49px;
}

.scorpion-metal {
  width: 40px;
  height: 33px;
  background-position: -238px -82px;
}

.scorpion-rogue {
  width: 40px;
  height: 33px;
  background-position: -234px -115px;
}

.skeleton {
  width: 34px;
  height: 46px;
  background-position: -249px -148px;
}

.skeleton-demon-knight {
  width: 34px;
  height: 47px;
  background-position: -249px -194px;
}

.skeleton-wraith {
  width: 34px;
  height: 46px;
  background-position: 0 -241px;
}

.skeleton-wraith-knight {
  width: 34px;
  height: 46px;
  background-position: -34px -241px;
}

.slime {
  width: 17px;
  height: 18px;
  background-position: -76px -49px;
}

.slime-metal {
  width: 17px;
  height: 18px;
  background-position: -93px -49px;
}

.slime-red {
  width: 17px;
  height: 18px;
  background-position: -110px -49px;
}

.wolf {
  width: 46px;
  height: 41px;
  background-position: -68px -241px;
}

.wolf-were {
  width: 46px;
  height: 41px;
  background-position: -114px -241px;
}

.wolflord {
  width: 46px;
  height: 41px;
  background-position: -160px -241px;
}

.wyvern {
  width: 39px;
  height: 36px;
  background-position: -206px -241px;
}

.wyvern-magi {
  width: 39px;
  height: 36px;
  background-position: -245px -241px;
}

.wyvern-star {
  width: 39px;
  height: 36px;
  background-position: -291px 0;
}