*{margin: 0;padding:0;box-sizing: border-box;}

body{
	font-family: 'Press Start 2P', Arial black;
	background-color: #737373;
	background-image: url("img/dw1-titleback.png");
	background-size: 32px;
	image-rendering: pixelated;
	color: #fff;
	position: relative;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
font-family: 'Press Start 2P', Arial black;
}

.contain{
  user-select: none;
	width: 341px;
	position: relative;
}

#panes-contain, #tracker-contain, #chests-contain, #map, #cave-maps, #monsters{
	width: 341px;
	height: 443px;
}
#title{
	width: 341px;
}

#title, #tab-clickers, .contain{
	margin-bottom: 16px;
}

#cave-maps, #monsters {
	background-color: #000;
}

#tab-clickers {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background-color: #000;
}
#tab-clickers li{
	padding: 4px;
	filter: brightness(.4);
}
	
#tab-clickers li:hover{
	padding: 4px;
	filter: brightness(.7);
}

#tab-clickers li.active{
	transform: scale(1.4);
	filter: brightness(1);
}
#tab-clickers img{
	width: 32px;
	height: 32px;
}

#panes-contain{
	position: relative;
}

.nested-pane{
	position: absolute;
	top: 0;
	left: 0;
}

#title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: #d82800;
  background-image: url("img/brick.png");
	padding: 16px;
	position:relative;
	}

#title h1, #title h2, #title h3{
	text-align: center;
}

#title h3, #dwr-logo {display:none;}
#eot-logo{
	height: 128px;
	color: #737373;
	background-color: rgb(188,188,188);
  border: 2px dashed rgb(188,188,188);
	border-color: #737373 #737373 #000 #000;
  border-image: url("img/dw1_wall.png") 6 / 6px round;
	text-transform: uppercase;
	padding: 8px;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #000;
	line-height: 2.25em;
	position: relative;
	}

#eot-logo em{
	text-transform: none;
	font-family: 'Lobster', cursive;
	text-shadow: 1px 1px 0 rgba(255,255,255,.5);
	color: #000;
	transform: skewY(-8deg);
	font-style: normal;
	display:block;
	font-size: 1.75em;
	top: .7em;
	left: 2.6em;
	position:absolute;
}

#title h3{
	line-height: 1.5em;
}

#dwr-logo{
  padding: 8px;
  background-color: #000;
  text-align: center;
}
#dwr-logo a{
	text-decoration: none;
}
#dwr-logo h2{
  color: #ea092d;
  font: bold 48px/.85em serif;
}

#dwr-logo h2 span.tall{
  display: inline-block;
  transform:scale(1,1.9) translateY(-3px);
  transform-origin:50% 0;
}

#dwr-logo h2, #dwr-logo h2 span.tall{
	background: -webkit-linear-gradient(#ea092d, #fcea48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	}
#dwr-logo h3{
  color:#fff;
  font:bold 15px 'Press Start 2P', Arial Black;
  letter-spacing: .5px;
  padding: .4em;
	position: relative;
	left: 6px;
}

hr{
  margin: 4px;
  border: none;
  background-color: rgba(255,255,255,.05);
}

.spacerv{
  width: 3px;
  height: calc(192px - 12px);
}
.spacerh{
  margin: 4px 12px;
  width: calc(100% - 24px);
  height: 3px;
}


.displaynone {
  display:none;
}

#tracker-contain {
  background-color: #000;
  background-repeat: no-repeat;
	border: solid 5px #000;
}

#icons,#text-contain{
  display:flex;
  justify-content:space-between;
}

#text-contain{
	height: 227px;
}

#icons-items, #icons-apdp{
  display:flex;
  flex-flow: column wrap;
}
#icons-items{
  height: 192px;
  width: 192px;
}
#icons-apdp{
  height: 192px;
  width: 128px;
}

#spell-contain{
	font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
  padding: 0 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#spell-contain .single{
  user-select: none;
  cursor: default;
  filter: brightness(.2);
}

.filter span:nth-of-type(1), .filter span:nth-of-type(2){filter: brightness(.2);}

.filter:hover span:nth-of-type(1){filter: brightness(.5);}

.half-filter span:nth-of-type(1){filter: none;}
.half-filter span:nth-of-type(2){filter: brightness(.2);}

.half-filter:hover span:nth-of-type(2){filter: brightness(.5);}

.no-filter span:nth-of-type(1), .no-filter span:nth-of-type(2) {filter: none;}

/* IE10-11 specific */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#spell-contain .single{opacity: .2;}
	.filter span:nth-of-type(1), .filter span:nth-of-type(2){opacity:.2;}
	.filter:hover span:nth-of-type(1){opacity:.5;}
	.half-filter span:nth-of-type(1){opacity:1;}
	.half-filter span:nth-of-type(2){opacity:.2;}
	.half-filter:hover span:nth-of-type(2){opacity:.5;}
	.no-filter span:nth-of-type(1), .no-filter span:nth-of-type(2) {opacity:1;}
}

#background-lines{
  position: absolute;
  z-index: 0;
}

#to-staff, #to-drop{opacity: .2;}
#to-staff {stroke: gray;}
#to-drop {fill: gray;stroke: none;stroke-width: 0;}

footer{
	width: 341px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	}

footer a{
  color: #000;
}

button{padding: .25em;position: relative;user-select:none;}
button:hover{color: red;}


.icon,.list{
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  filter: brightness(.2);
  position: relative;
  user-select: none;
}

/* IE10-11 specific */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.icon,.list{opacity: .2;}
}

img[src*="graphics"] {
  transform:scale(1.3);
}

.list:hover, .icon:hover, #spell-contain .single:hover{
  filter: brightness(.5);
}

img.selected:hover, #spell-contain li.selected, #spell-contain li.selected:hover{
  filter: none;
}
.selected{
  filter: none;
}

/* IE10-11 specific */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.list:hover, .icon:hover, #spell-contain .single:hover{opacity:.5;}
	img.selected:hover, #spell-contain li.selected, #spell-contain li.selected:hover{opacity:1;}
	.selected{opacity:1;}
}

#hurtmore,#healmore{
  cursor:default;
  user-select: none;
}

.staffmove{  
  animation: staffanimate 2s ease-in;
}
@keyframes staffanimate {
  from,33%{pointer-events:none;transform:scale(2) translate(32px,32px);z-index:10;}
  to{transform: scale(1) translate(0,0);z-index:10;}
}

.stonesmove{
    animation: stonesanimate 2s ease-in;
}
@keyframes stonesanimate {
  from{pointer-events:none;transform:scale(2) translate(32px,0); filter: drop-shadow(0 0 5px #fff); z-index:10;}
  33%{transform:scale(2) translate(32px,0); z-index:10;}
  50%{filter: drop-shadow(0 0 15px #fff); z-index:10;}
  to{transform: scale(1) translate(0,0); z-index:10;}
}

.tokenmove{
  animation: tokenanimate 2s ease-in;
  transform-origin: 34px;
}
@keyframes tokenanimate {
  from,33%{pointer-events:none;transform: scale(2) translate(32px,-32px) rotateY(360deg);z-index:10;}
  to{transform: scale(1) translate(0,0) rotateY(0); z-index:10;}
}


.dropmove{
    animation: dropanimate 2s ease-in;
}
@keyframes dropanimate {
  from,33%{pointer-events:none;transform:scale(2);z-index:10;}
  to{transform: scale(1);z-index:10;}
}

.rainbow{
  animation: rainbowdrop 3s steps(1);
}

.rainbow2{
  animation: rainbowdrop 2s 2 forwards steps(1);
}

@keyframes rainbowdrop {
  from {stroke: #0070ec; fill: #0070ec; opacity: 1;}
  8% {stroke: #3cbcfc; fill: #3cbcfc;}
  16% {stroke: #5c94fc; fill: #5c94fc;}
  25% {stroke: #4088fc; fill: #4088fc;}
  33% {stroke: #f478fc; fill: #f478fc;}
  41% {stroke: #fc74b4; fill: #fc74b4;}
  50% {stroke: #fc7460; fill: #fc7460;}
  58% {stroke: #fc9838; fill: #fc9838;}
  66% {stroke: #f0bc3c; fill: #f0bc3c;}
  75% {stroke: #80d010; fill: #80d010;}
  83% {stroke: #4cdc48; fill: #4cdc48;}
  92% {stroke: #58f898; fill: #58f898;}
  99% {stroke: #00e8d8; fill: #00e8d8;}
  to {stroke: #ffe359; fill: #ffe359; opacity: .3;}
}


#gg-contain{
  position: absolute;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: rgba(255,255,255,.1);
  height: 100%;
  width: 100%;
  z-index:9;
  cursor: url("img/blueslime.png") 18 0, default;
}

#gg-contain-close{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.6em;
  background-color: transparent;
  border: none;
  padding: 4px;
}

#gg-contain-close:hover{
  border: none;
  background-color: #000;
}
#gg-element{
  user-select:none;
  background-color: #d82800;
  background-image: url("img/brick.png");
  display:flex;
  justify-content:center;
  align-items:center;
  height: 65%;
  width: 85%;
}

#gg-element h2{
  font-size: 52px;
  line-height: 80px;
  color: #000;
  border-top: 4px solid #fc9838;
  position: relative;
  transform-origin: 50% 0;
  overflow: hidden;
}

#gg-element h2:not(:last-of-type){  margin-right: 1em;}

#gg-element h2 span{
  background-image: repeating-linear-gradient(to right, #fcc4d8, #fcc4d8 15%, transparent 15%, transparent 30%), linear-gradient(#fcc4d8, #fcc4d8);
  background-size: 100% 4px, 100% calc(100% - 4px);
  background-position: bottom, top;
  background-repeat: no-repeat;
  display: block;
  padding: 4px 16px;
  animation: unravel 1s ease-in;}

#gg-element h2:nth-of-type(2) span{
  animation: unravel2 1.8s ease-in;
}

@keyframes unravel {
  from{ transform:translateY(-110px);}
  to{ transform:translateY(0);}
}
@keyframes unravel2 {
  from,50%{ transform: translateY(-110px);}
  to{ transform: translateY(0);}
}

#gg-contain.gg-hide{
  display:none;
}

#options-contain{
  background-color: #333;
  padding: 16px;
}

#stats{
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #000;
}
#stats-tabs{
	display: flex;
}
#stats-tabs label{
	flex: 1;
	filter: brightness(.2);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 0;
	border-bottom: solid #000;
}

#stats-tabs label:hover{
	filter: brightness(.8);
}

#stats-tabs input[type="radio"]:checked + label {
  filter: brightness(1);
	border-bottom: solid #fff;
}

#stats-tabs input[type="radio"]{
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: -1;
  position: absolute;
}

#stats-tabs label img{
	height: 32px;
}

#lvexp{
	height: 179px;
	overflow: auto;
	xpadding-top: 8px;
}
tr:nth-of-type(even){
  background-color: #333;
}
th, td:nth-of-type(2){
  text-align: right;
}

#lvexp::-webkit-scrollbar-track{border: 1px black solid; background-color: #000;}
#lvexp::-webkit-scrollbar{width: 8px;height: 8px;background-color: #000;}
#lvexp::-webkit-scrollbar-thumb{background-color: silver;}
#lvexp::-webkit-scrollbar-corner{background-color: #000;}

table{
	margin: 1em auto;
}

#coordinates{
	padding-top: 8px;
	position: relative;
}

#coordinates-contain, #step-counters{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.hide{
	position: absolute;
	top: 0;
	z-index: -10; /* i guess you can't display:none; a flex container? so I hide you with z-index*/
	display: none;
}

#coordinates input,#coordinates label {
  padding: .25em .5em;
  font-size: 1em;
}

#coordinates input{
  border:none;
  color: #fff;
  outline: none;
	transition: transform .1s;
}

#coordinates input:hover{
	transform: scale(1.5);
	z-index: 10;
	position: relative;
}
#coordinates label{
	padding: 8px;
	filter: brightness(.2);
	border: 1px solid transparent;
	padding: 8px;
	}
#step-counters h6{
	width: 64px;
	height: 34px;
	text-align: center;
	border: solid 1px gray;
	padding-top: 10px;
	position: relative;
	top: 1px;
}
#ns-counter{
	margin-bottom: 16px;
}
#coordinates label:hover{filter: brightness(.4);}

#coordinates input[type="radio"]:checked + label {
  filter: brightness(1);
  border: 1px solid gray;
}

#ns-label-contain input[type="radio"]:checked + label {
	background-color: #2038ec;
}

#we-label-contain input[type="radio"]:checked + label {
	background-color: #737373;
}

#coordinates input[type="radio"]{
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: -1;
  position: absolute;
}

#coordinates input[type="number"]{
  width:5em;
  text-align: right;
  background-color: #000;
  border: 1px solid gray;
	padding: 8px;
}

#ns-contain{
	margin-bottom: 1em;
}

#ns-label-contain, #we-label-contain{
	display:flex;
	position: relative;
	top: 1px;
}

#we-label-contain label:nth-of-type(2), #ns-label-contain label:nth-of-type(2){
	position: relative;
	left: -4px;
}

#chests-contain{
	font: bold 1em times;
  background-color: #000;
  width: 341px;
  height: 443px;
	display: flex;
	flex-wrap: wrap;
}


#chests-contain div{
  padding: 4px;
  text-align: center;
  border: 1px solid rgba(255,255,255,.2);
}

#chests-contain div div {
  border: none;
}

#chests-contain img{
  width: 24px;
	height: 24px;
}

#towns, #shrines, #caves{
  display:flex;
  flex-flow: wrap;
}
#chests-contain h4{
  margin:0;
  padding:0;
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#chests-contain h4 img{
  width:1em;
	height:1em;
	margin-left: 8px;
  transition: transform .1s ease-in;
}
#chests-contain h4 img:hover{
  transform: scale(2.5);
	z-index: 10;
}


#map header{
	background-color:#000;
	display: flex;
	align-items: center;
	padding: 8px;
}
#map header h4{
	margin-right: auto;
}

#map header input{
	  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  position: absolute;
	z-index: -1;
}

#map header label{
	width: 32px;
	height: 32px;
	background-color: rgba(255,255,255,.2);
}

#map header label:not(:last-of-type){
	margin-right: 8px;
}

#canvas-contain{
	width: 341px;
	height: 395px;
	overflow: scroll;
	border-left: solid #000 1px;
}

#canvas-contain::-webkit-scrollbar-track{border: 1px black solid; background-color: #80d011;}
#canvas-contain::-webkit-scrollbar{width: 10px;height: 10px;background-color: #F5F5F5;}
#canvas-contain::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.8);}
#canvas-contain::-webkit-scrollbar-thumb:hover{background-color: #000;}
#canvas-contain::-webkit-scrollbar-corner{background-color: #000;}

canvas{
  background-color: #80d011;
  background-image: url("img/plains.png");
  background-size: 32px;
  cursor: crosshair;
  image-rendering: pixelated;
}

#cave-maps{
	padding: 16px;
}
#tab-clickers-cavemaps{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 16px;
	list-style-type: none;
}
#tab-clickers-cavemaps li{
padding-bottom: 8px;
border-bottom: 3px solid #000;
}
#tab-clickers-cavemaps li.active{
	border-bottom: 3px solid;
}
.cave-pane{
	overflow: auto;
	height: 339px;
}

.basement-maps article{
  margin-top: 16px;
  position: relative;
  z-index:0;
  margin-bottom: 32px;
}

.basement-maps h3{
  padding: 8px;
  margin-bottom: 16px;
  background-color: #d82800;
}

.basement-maps h3 img{
	height: 24px;
	width: auto;
	box-shadow: none;
	background: none;
}

.basement-maps img{
  xwidth:192px;
  background-color: red;
  box-shadow: 16px 16px #737373;
  margin-left: 16px;
}

#monsters-grind{
	display: flex;
	padding: 16px;
}
#monsters-grind div{
	flex: 1;
	height: 150px;
	background-size: 24px 24px;
}

#monsters-grind div:not(:last-of-type){
	margin-right: 16px;
}

#monsters-grind-hauksness{
	background-color: #fcd8a8;
	background-image: url("img/dw1-desert.png");
}
#monsters-grind-swamp{
	background-color: #000;
	background-image: url("img/dw1-swamp.png");
}
#monsters-grind-charlock{
	background-color: #d82800;
  background-image: url("img/brick.png");
}

/* widescreen */
@media (min-width: 810px) {
	html{display:flex;align-items: center;justify-content: center;}
	body{flex-flow: row wrap;width:786px;justify-content:center;}
	.contain {display: flex;flex-direction: row;width:397px; margin-right: 16px;}
	#tab-clickers{flex-direction: column; height: 286px;margin-right: 16px;}
	#title h3, #dwr-logo {display:block;}
	#title {order: 1;height: 443px;}
	footer{order: 2;flex:1;}
	}