*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  color: #211010;
  font: normal .9em arial;
}
body{
  margin: 24px auto;
  display: flex;
  justify-content: center;
  background-image: url('../img/floor.png');
}
main{
  width: calc(96px * 5 + 72px + 48px);
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5,96px);
  border: solid;
  border-width: 24px 72px 48px 48px;
  -o-border-image: url('../img/border.png') repeat 24 72 48 48 / 24px 72px 48px 48px;
     border-image: url('../img/border.png') repeat 24 72 48 48 / 24px 72px 48px 48px;
}
main h4{
  width: 96px;
  height: 96px; 
  line-height: 1.1em;
  background-image: url('../img/back-grass.png');
  background-repeat: no-repeat;
  padding: 22px 4px;
  float: left;
}
h4 span{
  background-color: #9cc610;
  vertical-align: middle;
}
.selected{
  background-color: #de2939;
  background-image: url('../img/back-red.png');
  color: #efefe7;
}
.selected span{
  background-color: transparent;
}
aside label{
  display: block;
  color: #fff;
  
}