*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  interpolate-size: allow-keywords;
  --border-width: 3px;
}

html{
  color: #efefe7;
  font: normal .9em/1.1 arial;
}

body{
  margin: 24px;
  background-image: url('../img/floor.png');
  background-color: #743430;
  display: inline-grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  grid-auto-flow: column;
  grid-gap: 0 3em;
}

body > *~*{
  margin: 1em 0;
}

header{
  display: flex;
  gap: 1em;
  align-items: center;
}

header button{
  padding: .25em;
  margin-right: 24px;
}

main{
  width: 576px;
  height: 552px;
  color: #211010;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #9cc610;
  background-clip: content-box;
  border-style: solid;
  border-color: #807e5f;
  border-width: 24px 48px 48px 48px;
  border-image: url('../img/border-2.webp') repeat 24 48 48 48;
  box-shadow: 32px 6px 0px -6px rgba(0 0 0 / .25);
}

h4{
  width: 96px;
  height: 96px;
  padding: 22px 4px;
  background: #9cc610 url('../img/back-sprite.png') 0 0 / 300% 300%;
  image-rendering: pixelated;
}

span{
  background-color: #9cc610;
  vertical-align: middle;
}

.selected{
  background-color: #de2939;
  color: #efefe7;
  background-image: url('../img/back-sprite.png');
  background-position: 50% 0;
}

.selected span{
  background-color: transparent;
}

label{
  display: block; 
}

aside{
  height: min-content;
  min-width: 310px;
  grid-area: 2 / 2;
  flex: 1;
  padding: 1em 1.5em;
  background-color: #21101080;
  border-image: linear-gradient(#fff,#fff) 100% / calc(var(--border-width) * 2);
  box-shadow: inset 0 0 0 var(--border-width) #fff, inset 0 0 0 6px #7b7b5a, inset 0 -9px #7b7b5a;
}

aside, details p {
  mask: conic-gradient(from 270deg at var(--border-width) var(--border-width), #0000 0 25%, red 25% 100%) 0 0 / calc(100% - var(--border-width)) calc(100% - var(--border-width));
}

details{
  margin-bottom: 1em;
  overflow: clip;
  height: 35px;
  transition: height .2s ease;
}

details[open]{
   height: auto;
   overflow: clip;
 }

details p {
  margin-left: 1em;
  background-color: #444;
  padding: 1em;
  line-height: 1.5;
}

details p a{
  color: #fff;
}

video{
  display: block;
}

summary{
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: .5em;
  font-size: 1.2em;
  text-wrap: balance;
}

div{
  margin: 1em 0;
}