*{margin: 0;padding:0;box-sizing: border-box;}

body, a{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #29252C;
  color: #D8E9F0;
}

body{
  width: 175px;
}
.contain{
  padding: .75em;
  border: 1px solid #000;
}

img{
  image-rendering: pixelated;
  filter: brightness(.3);
  display:flex;
  justify-content:center;
  align-items:center;
  width: 32px;
  height: 32px;
}

img:hover{cursor: pointer;}

.selected{filter: brightness(1);}

#moon.selected{filter: brightness(1) drop-shadow( 0 0 15px white);}
#star.selected{filter: brightness(1) drop-shadow( 0 0 15px yellow);}
#water.selected{filter: brightness(1) drop-shadow( 0 0 15px blue);}
#life.selected{filter: brightness(1) drop-shadow( 0 0 15px red);}
#fire.selected{filter: brightness(1) drop-shadow( 0 0 15px orange);}

#crests .selected{
  transition: filter 1s;
}

#eye{
  width: 48px;
  height: 48px;
}

#crests div{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#crests div:first-of-type{
  justify-content:center;
}
#crests div:last-of-type{
  justify-content:space-around;
}

#crests { 
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*
  background-image: url('../img/malroth.png');
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  */
}

#other{
  display: grid;
  grid-template-columns: repeat(4, 32px);
  justify-content: space-between;
  grid-gap: 4px;
  padding-top: 2em;
}

#ship{
  background-image: url('../img/ship-right-frames.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

#ship.selected{
  animation: ship-move .5s steps(2) 4;
}

@keyframes ship-move {
  from{background-position: 0 0;}
  to{ background-position: -64px 0;}
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
button{
  padding: .25em;
  margin-top: 1em;
}
