html{
background-color: #747474;
font-family: arial;
}

body{
  display:flex;
}

.player-panel {
  background-color: #000;
  position: relative;
}

.background-lines{
  position: absolute;
  z-index: 0;
}

.to-staff, .to-drop{opacity: .2;}
.to-staff {stroke: gray;}
.to-drop {fill: gray;stroke: none;stroke-width: 0;}

.trackers-contain{
  display: grid;
  grid-template: repeat(2,auto) / repeat(2, auto);
  grid-gap: 1em;
}

img:hover{
  cursor: pointer;
}

img.selected:hover{
  filter: none;
}
.selected{
  filter: none;
}

.icons-items{
  padding: 5px;
  height: calc(64px * 3);
	width: calc(64px * 3);
  display:  flex;
  flex-flow: column wrap;
}

.icons-items-right{
	width: calc(64px * 4);
}

.hide{
	display:none;
}

.bordered{
	border: 2px solid #fff;
}

img{
  filter: brightness(.2);
  width: 64px;
  height: 64px;
  z-index:2;
	-ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

img[src*="graphics"] {
  transform:scale(1.3);
}
/* animations*/

.staffmove{  
  animation: staffanimate 2s ease-in;
}
@keyframes staffanimate {
  from,33%{pointer-events:none;transform:scale(2) translate(32px,32px);z-index:10;}
  to{transform: scale(1) translate(0,0);z-index:10;}
}

.stonesmove{
    animation: stonesanimate 2s ease-in;
}
@keyframes stonesanimate {
  from{pointer-events:none;transform:scale(2) translate(32px,0); filter: drop-shadow(0 0 5px #fff); z-index:10;}
  33%{transform:scale(2) translate(32px,0); z-index:10;}
  50%{filter: drop-shadow(0 0 15px #fff); z-index:10;}
  to{transform: scale(1) translate(0,0); z-index:10;}
}

.tokenmove{
  animation: tokenanimate 2s ease-in;
  transform-origin: 34px;
}
@keyframes tokenanimate {
  from,33%{pointer-events:none;transform: scale(2) translate(32px,-32px) rotateY(360deg);z-index:10;}
  to{transform: scale(1) translate(0,0) rotateY(0); z-index:10;}
}


.dropmove{
    animation: dropanimate 2s ease-in;
}
@keyframes dropanimate {
  from,33%{pointer-events:none;transform:scale(2);z-index:10;}
  to{transform: scale(1);z-index:10;}
}

.rainbow{
  animation: rainbowdrop 3s steps(1);
}

.rainbow2{
  animation: rainbowdrop 2s 2 forwards steps(1);
}

@keyframes rainbowdrop {
  from {stroke: #0070ec; fill: #0070ec; opacity: 1;}
  8% {stroke: #3cbcfc; fill: #3cbcfc;}
  16% {stroke: #5c94fc; fill: #5c94fc;}
  25% {stroke: #4088fc; fill: #4088fc;}
  33% {stroke: #f478fc; fill: #f478fc;}
  41% {stroke: #fc74b4; fill: #fc74b4;}
  50% {stroke: #fc7460; fill: #fc7460;}
  58% {stroke: #fc9838; fill: #fc9838;}
  66% {stroke: #f0bc3c; fill: #f0bc3c;}
  75% {stroke: #80d010; fill: #80d010;}
  83% {stroke: #4cdc48; fill: #4cdc48;}
  92% {stroke: #58f898; fill: #58f898;}
  99% {stroke: #00e8d8; fill: #00e8d8;}
  to {stroke: #ffe359; fill: #ffe359; opacity: .3;}
}

.gg-contain{
  font-family: 'Press Start 2P', Arial black;
  position: absolute;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: rgba(255,255,255,.1);
  height: 100%;
  width: 100%;
  z-index:9;
  cursor: url("https://jsnkuhn.github.io/DWRandomizerTracker/img/blueslime.png") 18 0, default;
}

.gg-contain-close{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.6em;
  background-color: transparent;
  border: none;
  padding: 4px;
}

.gg-contain-close:hover{
  border: none;
  background-color: #000;
}

.gg-element{
  user-select:none;
  background-color: #d82800;
  background-image: url("https://jsnkuhn.github.io/DWRandomizerTracker/img/brick.png");
  display:flex;
  justify-content:center;
  align-items:center;
  height: 65%;
  width: 85%;
}

.gg-element h2{
  font-size: 36px;
  line-height: 60px;
  color: #000;
  border-top: 4px solid #fc9838;
  position: relative;
  transform-origin: 50% 0;
  overflow: hidden;
}

.gg-element h2:not(:last-of-type){  margin-right: .5em;}

.gg-element h2 span{
  background-image: repeating-linear-gradient(to right, #fcc4d8, #fcc4d8 15%, transparent 15%, transparent 30%), linear-gradient(#fcc4d8, #fcc4d8);
  background-size: 100% 4px, 100% calc(100% - 4px);
  background-position: bottom, top;
  background-repeat: no-repeat;
  display: block;
  padding: 4px 16px;
  animation: unravel 1s ease-in;}

.gg-element h2:nth-of-type(2) span{
  animation: unravel2 1.8s ease-in;
}

@keyframes unravel {
  from{ transform:translateY(-110px);}
  to{ transform:translateY(0);}
}
@keyframes unravel2 {
  from,50%{ transform: translateY(-110px);}
  to{ transform: translateY(0);}
}

.gg-contain.gg-hide{
  display:none;
}


#reset{
  display: grid;
  grid-template: repeat(3,auto) / repeat(3,auto);
  grid-gap: 1em;
  margin-left: 1em;
	width: calc(64px * 3);
	height: calc(64px * 3);
	padding: 5px;
}

#reset button:nth-of-type(1){grid-area:1/1;}
#reset button:nth-of-type(2){grid-area:1/3;}
#reset button:nth-of-type(3){grid-area:3/1;}
#reset button:nth-of-type(4){grid-area:3/3;}
#reset button:nth-of-type(5){grid-area:2/2;}

#reset button{
  height: 4em;
}

#options img{
	width: 32px;
	height: 32px;
	filter:brightness(1);
}

input[type="radio"]{
	margin-left: 2em;
}