.contain{
  max-width: 1024px;
  margin-inline: auto;
  color: #fff;
  background-color: #222;
}

h1, .category-contain{
  padding: 16px;
  margin: 0;
}

.category-contain:nth-of-type(odd){
  background-color: #000;
}

.bordered{
  box-sizing: border-box;
  width: 200px;
  height: 80px;
  margin: 10px;
  background-image: paint(cornerShape);
  --background-color: rgb(0,0,0);
  --border-color: #fff;
  --border-width: 1;
  --corner-sizes: 13px; /* accepts 1-8 values */
}

.all-square{
  --corner-shapes: square;
}
.all-notch{
  --corner-shapes: notch;
}
.all-angle{
  --corner-shapes: angle;
}
.all-round{
  --corner-shapes: round;
}
.all-scoop{
  --corner-shapes: scoop;
}

.angled{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --background-color: black;
  --corner-sizes: 0 0 90% 10% / 0 0 70px 42px;
  --corner-shapes: angle;
}
.notched{
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.scooped{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}


.mixed{
  --background-color: blue;
  --corner-sizes: 0 0 95px 95px / 0 0 6px 54px;
  --corner-shapes: none none notch angle;
}

h2{
  font-size: 24px;
}

.examples-contain{
  display: flex;
  flex-wrap: wrap;
}

body{
  margin: 0;
}